<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Position des capteurs (en mètres, relatifs à base_link) -->
  <!-- Empilement : sommet châssis (12,0 cm) → tourelle → sonar -->
  <!-- sonar_z = sommet tourelle (14,0 cm) + moitié hauteur sonar (1,5 cm) - base_link_hauteur_sol -->
  <xacro:property name="sonar_x"      value="0.100"/>
  <xacro:property name="sonar_z"      value="0.073"/>
  <!-- tourelle_z = sommet châssis (12,0 cm) + moitié hauteur tourelle (1,0 cm) - base_link_hauteur_sol -->
  <xacro:property name="tourelle_x"   value="0.0845"/>
  <xacro:property name="tourelle_z"   value="0.048"/>

  <xacro:property name="masse_sonar"  value="0.010"/>

  <!-- Matériaux : définis une seule fois, référencés par nom ensuite -->
  <material name="bleu">
    <color rgba="0.0 0.0 1.0 1.0"/>
  </material>

  <material name="bleu_pale">
    <color rgba="0.0 0.5 1.0 1.0"/>
  </material>

  <!-- Sonar HC-SR04 : petite boîte bleue à l'avant -->
  <!-- Dimensions : 40 mm x 56 mm x 30 mm (p x l x h) -->
  <link name="sonar_link">
    <visual>
      <geometry>
        <box size="0.040 0.056 0.030"/>
      </geometry>
      <material name="bleu"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.040 0.056 0.030"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="${masse_sonar}"/>
      <inertia
        ixx="${masse_sonar*(0.056*0.056+0.030*0.030)/12}"
        iyy="${masse_sonar*(0.040*0.040+0.030*0.030)/12}"
        izz="${masse_sonar*(0.040*0.040+0.056*0.056)/12}"
        ixy="0" ixz="0" iyz="0"/>
    </inertial>    
  </link>

  <joint name="sonar_joint" type="revolute">
    <parent link="base_link"/>
    <child  link="sonar_link"/>
    <origin xyz="${sonar_x} 0 ${sonar_z}" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100" lower="-0.78539" upper="0.78539"/>
  </joint>

  <!-- Tourelle servo : petite boîte rouge au centre -->
  <!-- Dimensions : 53 mm x 20 mm x 20 mm (p x l x h) -->
  <link name="tourelle_link">
    <visual>
      <geometry>
        <box size="0.053 0.020 0.020"/>
      </geometry>
      <material name="bleu_pale"/>
    </visual>
  </link>

  <joint name="tourelle_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="tourelle_link"/>
    <origin xyz="${tourelle_x} 0 ${tourelle_z}" rpy="0 0 0"/>
  </joint>

</robot>
